@model HsmBI.Academy

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb">
    <li><a href="../../">Home</a></li>
    <li>@Html.ActionLink("Academy", "Index", "Academy") </li>
    <li class="active">Edit</li>
</ol>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Academy</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.sn)

        <div class="form-group">
            @Html.LabelFor(model => model.LevelCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LevelCode)
                @Html.ValidationMessageFor(model => model.LevelCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LevelName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LevelName)
                @Html.ValidationMessageFor(model => model.LevelName)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
