@model HsmBI.Availability

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb">
    <li><a href="../../">Home</a></li>
    <li>@Html.ActionLink("Availability", "Index", "Availability") </li>
    <li class="active">Details</li>
</ol>
<hr />
<h2>Details</h2>

<div>
    <h4>Availability</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
