@model HsmBI.Members

@{
    ViewBag.Title = "Create Member";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home","Index","Home")</li>
    <li>@Html.ActionLink("Members", "Index", "members") </li>
    <li class="active">Create</li>
</ol>
<hr />
<div>
    <div>

        <section>
            <h1>
                @ViewBag.Title
            </h1>
            <hr />
            @if (TempData["error"] != null)
            {
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong><span class="glyphicon glyphicon-exclamation-sign"></span> Warning!</strong> @TempData["error"].
                </div>
            }
        </section>

        @using (Html.BeginForm("create", "members", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <section>

                <div class="form-group">
                    @Html.LabelFor(model => model.Code)

                    @Html.TextBoxFor(model => model.Code, new { @class = "form-control", placeholder = "Enter Member Code", required = "required" })
                    @Html.ValidationMessageFor(model => model.Code)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LastName, "Last Name")
                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", placeholder = "Enter Last Name", required = "required" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.OtherNames, "Other Names")
                    @Html.TextBoxFor(model => model.OtherNames, new { @class = "form-control", placeholder = "Enter First Name then Other Name", required = "required" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Gender)
                    @Html.DropDownListFor(model => model.Gender, (SelectList)ViewBag.Gender)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Birthday)
                    @Html.TextBoxFor(model => model.Birthday, new { @class = "form-control", placeholder = "Select Birthday", required = "required", type="date" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MaritalStatus, "Marital Status")
                    @Html.DropDownListFor(model => model.MaritalStatus, (SelectList)ViewBag.MaritalStatus)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.HomeAddress, "Home Address")
                    @Html.TextBoxFor(model => model.HomeAddress, new { @class = "form-control", placeholder = "Enter Home Address", required = "required" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.OfficeAddress, "Office Address")
                    @Html.TextBoxFor(model => model.OfficeAddress, new { @class = "form-control", placeholder = "Enter Office Address", required = "required" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MobileNo, "Mobile No")
                    @Html.TextBoxFor(model => model.MobileNo, new { @class = "form-control", placeholder = "Enter Mobile No", required = "required", type = "tel" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EmailAddress, "Email Address")
                    @Html.TextBoxFor(model => model.EmailAddress, new { @class = "form-control", placeholder = "Enter Email Address", required = "required" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Nationality)
                    @Html.TextBoxFor(model => model.Nationality, new { @class = "form-control", placeholder = "Enter Natonality [sample: Nigerian]", required = "required" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Wedding)
                    @Html.TextBoxFor(model => model.Wedding, new { @class = "form-control", placeholder = "Select Wedding Anniversary", required = "required", type = "date" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.OccupationId, "Occupation")
                    @Html.DropDownListFor(model => model.OccupationId, (SelectList)ViewBag.OccupationId)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Nickname)
                    @Html.TextBoxFor(model => model.Nickname, new { @class = "form-control", placeholder = "Enter Nickname" })
                </div>

                @*<div class="form-group">
                    @Html.LabelFor(model => model.ChoirSplit_Id, "Choir Split")
                    @Html.DropDownListFor(model => model.ChoirSplit_Id, (SelectList)ViewBag.ChoirSplits)
                </div>*@

                <div class="form-group">
                    @Html.LabelFor(model => model.Remarks)
                    @Html.TextBoxFor(model => model.Remarks, new { @class = "form-control", placeholder = "Enter Remarks" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.StateOfOriginId, "State of Origin")
                    @Html.DropDownListFor(model => model.StateOfOriginId, (SelectList)ViewBag.StateOfOriginId)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LGA)
                    @Html.TextBoxFor(model => model.LGA, new { @class = "form-control", placeholder = "Enter Local Govt Area" })
                </div>

                @*<div class="form-group">
                    @Html.LabelFor(model => model.Photo)

                    @Html.TextBoxFor(model => model.Photo)
                    @Html.ValidationMessageFor(model => model.Photo)
                </div>*@

                <div class="form-group">
                    @Html.LabelFor(model => model.PartId, "Choir Part")
                    @Html.DropDownListFor(model => model.PartId, (SelectList)ViewBag.PartId)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RobeNo, "Robe Number")
                    @Html.TextBoxFor(model => model.RobeNo, new { @class = "form-control", placeholder = "Enter Robe Number" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.JoinedOn)
                    @Html.TextBoxFor(model => model.JoinedOn, new { @class = "form-control", type = "date", placeholder = "Enter Local Govt Area" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.HomeTown)
                    @Html.TextBoxFor(model => model.HomeTown, new { @class = "form-control", placeholder = "Enter Home Town" })
                </div>

                @*<div class="form-group">
                    @Html.LabelFor(model => model.Picture)

                    @Html.TextBoxFor(model => model.Picture)
                    @Html.ValidationMessageFor(model => model.Picture)
                </div>*@

                <div class="form-group">
                    @Html.LabelFor(model => model.Academy_Id, "Level in Daystar Academy")
                    @Html.DropDownListFor(model => model.Academy_Id, (SelectList)ViewBag.Academy_Id)
                </div>


                <div class="form-group">
                    <label for="thumb">Upload photo</label>
                    <input type="file" id="mfile" name="mfile">
                </div>

                <br />
                <hr />

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Create Member</button>
                    <a role="button" class="btn btn-default" href="@Url.Action("index")">Cancel</a>
                </div>

            </section>

        }
    </div>
</div>