@model HsmBI.Members

@{
    ViewBag.Title = "Delete";
}
<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Members", "Index", "members") </li>
    <li class="active">Delete</li>
</ol>
<hr />
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Member</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Application_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Application_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherNames)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherNames)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaritalStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaritalStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfficeAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfficeAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobileNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wedding)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wedding)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nickname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nickname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailabilityId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailabilityId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LGA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LGA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RobeNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RobeNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JoinedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JoinedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeTown)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeTown)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Picture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attendance_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attendance_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Academy.LevelCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Academy.LevelCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChoirPart.Part)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChoirPart.Part)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChoirSplit.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChoirSplit.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FriendshipGroup.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FriendshipGroup.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Occupation.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Occupation.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Post.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Post.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NextOfKin.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextOfKin.LastName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
